.page-control {

    min-height: 100vh;
    margin: 0;
    background-color: #080707;

}

.header-wrapper {

    width: 100%;

}

#header {

    min-height: 50px;
    border-bottom: 2px solid rgb(0, 191, 99);
    font-size: 21px;

}

.logo {

    width: 250px;

}

.search-container {

    height: 30px;
    margin: auto 30px;
    border-radius: 12px;
    width: 500px;

}

#navbar a {

    color: rgb(0, 191, 99);
}

.nav-item {

    height: 30px;
    margin: auto 5px;

}

#navbar i {

    margin: 7px;
}

.text {

    padding-bottom: 5px;

}

.text:hover{

    border-bottom: 2px solid rgb(0, 191, 99);

}

main {

    width: 70%;
    max-height: max-content;
    margin: 0 auto;

}

.list-group {

    width: 70%;
    height: max-content;
    background-color: rgb(33, 37, 41);
    border-top: 2px solid rgb(0, 191, 99);
    border-right: 2px solid rgb(0, 191, 99);
    border-left: 2px solid rgb(0, 191, 99);
    font-size: 18px;

}

#posts-container {

    min-height: 70vh;

}

.empty-list-container {

    margin: 0 auto;

}

#empty-list-text {

    font-size: 18px;
    text-align: center;
    color: #FFFFFF;

}

.send-post-container {

    margin: 0 auto;
    width: 50%;
    color: #FFFFFF;

}

.send-section {

    border: 2px solid rgb(0, 191, 99);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;

}

.footer-container {

    width: 100%;

}
  
footer {

    min-height: 50px;
    font-size: 18px;
    padding: 20px;
    text-align: center;
    border-top: 2px solid rgb(0, 191, 99);
    color: #FFFFFF;

}
