.page-control {

    min-height: 100vh;
    margin: 0;
    background-color: rgb(9, 11, 10);

}

.header-wrapper {

    width: 100%;

}

#header {

    min-height: 50px;
    border-bottom: 2px solid rgb(0, 190, 47);
    background-color: rgb(9, 11, 10);
    font-size: 21px;

}

.logo {

    width: 250px;

}

.search-container {

    margin: auto 30px;
    border: 2px solid rgb(0, 190, 47);
    border-radius: 10px;
    width: 500px;

}

#navbar a {

    color: rgb(0, 190, 47);
}

.nav-item {

    height: 30px;
    margin: auto 5px;

}

#navbar i {

    margin: 7px;
}

.text {

    padding-bottom: 5px;

}

.text:hover{

    border-bottom: 2px solid rgb(0, 190, 47);

}

main {

    width: 65%;
    max-height: max-content;
    margin: 0 auto 15px auto;

}

.send-post-container {

    margin: 0 auto;
    width: 70%;
    color: #FFFFFF;

}

.send-section {

    border: 2px solid rgb(0, 190, 47);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 15px auto;
    width: 100%;
    padding: 10px;

}

.send-section #user-label {


    font-size: 20px;

}

.send-label {

    margin-right: 20px;

}

.send-box {

    width: 60%;
    padding: 5px;
    background-color: rgb(9, 11, 10);
    border: 1px solid rgb(0, 190, 47);
    border-radius: 10px;
    margin-right: 20px;

}

#send-submit {

    background: none;
    color: rgb(0, 190, 47);
    border: 1px solid rgb(0, 190, 47);
    border-radius: 10px;
    width: 100px;
    padding: 3px;

}

#send-submit:hover {

    background-color: rgb(33, 37, 41);
    transition: 0.2s;

}

.list-group {

    width: 70%;
    height: max-content;
    background-color: rgb(33, 37, 41);
    border: 2px solid rgb(0, 190, 47);
    font-size: 18px;

}

#posts-container {

    min-height: 70vh;

}

#posts-container a{

    flex-direction: column;
    border-bottom: 2px solid rgb(0, 190, 47);

}

#profile-icon {

    width: 40px;
    height: 40px;
    
}

#post-uname {

    font-size: 20px;
    align-self: stretch;

}

#post-content {

    font-size: 17px;

}

.empty-list-container {

    margin: 20px auto;
    min-height: 80vh;
    width: 70%;
    height: max-content;
    background-color: rgb(9, 11, 10);
    border: 2px solid rgb(0, 190, 47);
    font-size: 18px;

}

#empty-list-text {

    font-size: 18px;
    text-align: center;
    color: #FFFFFF;

}

.help-center {

    text-align: center;
    padding: 60px;


}

.faq-section {

    max-width: 800px;
    margin: 0 auto;

}

.faq-item {

    margin: 30px 0;

}

.faq-item button {

    width: 100%;
    padding: 20px;
    background: rgb(0, 190, 47);
    color: #fff;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 18px;

}

.faq-item button:hover {

    background: rgb(0, 190, 47);

}

.faq-item .content {

    display: none;
    padding: 20px;
    background: rgb(33, 37, 41);
    border: 1px solid #ddd;

}

.footer-container {

    width: 100%;

}
  
footer {

    min-height: 50px;
    font-size: 18px;
    padding: 20px;
    text-align: center;
    border-top: 2px solid rgb(0, 190, 47);
    color: #FFFFFF;

}